<style>

  body {
    font-family: lucida grande;
  }

  a {
    text-decoration: none;
  }

  .summary-path, .filepath-totals {
    float: right;
  }

  .summary-path {
    color: #999999;
  }

  .filepath {
    background: none repeat scroll 0 0 #A3C586;
    font-size: 15px;
    margin: 0;
    padding: 5px;
    color: #FFFFFF;
    padding: 5px;
  }

  #container
  {
    margin: 0 auto;
    width: 100%;
    background: #fff;
  }

  /* ul li ul{display:none} */
  /* ul li:hover ul, ul li:selected ul{display:block} */

  #header {
    background: none repeat scroll 0 0 #5B7443;
    color: #FFFFFF;
    padding: 20px;
  }

  #header h1 { margin: 0; }

  #navigation
  {
    float: left;
    width: 100%;
    background: #333;
  }

  #navigation ul
  {
    margin: 0;
    padding: 0;
  }

  #navigation ul li
  {
    list-style-type: none;
    display: inline;
  }

  #navigation li a
  {
    display: block;
    float: left;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
  }

  #navigation li a:hover { background: #383; }


  #file-list
  {
    margin-left: -30px;
    list-style-type: none;
    margin-top: 15px;
    background: #fff repeat-y 100% 0;
  }

  #file-list ul
  {
    margin-left: 10px;
    padding: 0;
  }

  .offence {
    color: #001111;
    font: 11px "Lucida Grande",Helvetica,sans-serif;
  }

  .warning {
    background: none repeat scroll 0 0 #FCF1D1; 
    border-bottom: 1px solid #FFCC33;
    border-left: 5px solid #FFCC33;
  }

  .convention {
    background: none repeat scroll 0 0 #E8EFF3;
    border-bottom: 1px solid #638291;
    border-left: 5px solid #638291;
  }

  #file-list ul li
  {
    list-style-type: none;
    margin: 4px 0;
    padding: 3px;
  }

  #footer
  {
    clear: left;
    background: #ccc;
    text-align: right;
    padding: 20px;
    height: 1%;
  }

  .offence-list { display: none }

</style>

<div id="container">
  <div id="header">
    <h1>
      Rubocop Report for <%= @app_name %>
    </h1>
  </div>
  <ul id='file-list'>
    <% @output_hash[:files].each do |file| %>
      <a onclick="toggleElement('<%= offence_group_name(file)%>')"><li class='filepath'><%= file_summary(file) %></li></a>
      <ul class='offence-list' id='<%= offence_group_name(file)%>'>
        <% file[:offences].each do |offence| %>
          <a href='<%= offence_file_path(file[:path], offence[:location][:line]) %>'>
            <li class='offence <%= offence[:severity] %>'>
              <%= offence[:severity] %>: <%= offence[:cop_name] %> - <%= offence[:message] %> <span class='summary-path'><%= file[:path] %>:<%= offence[:location][:line] %></span>
              <div>
                <pre>
                  <%= offence[:location][:source_line] %>
                  <%= offence[:location][:column_pointer] %>
                </pre>
              </div>
            </li>
          </a>
        <% end %>
     </ul>
    <% end %>
  </ul>
  <div id="footer"/>
</div>
<script>
  function toggleElement( id ){
    var thisElement = document.getElementById(id)
    if( thisElement.style['display'] == 'block' ) {
      thisElement.style.display = 'none';
    }
    else {
      thisElement.style.display = 'block';
    }
    return thisElement ;
  }
</script>
